@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: #333;
  color: #222;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.4s ease-in;
}

.container.show-nav {
  transform: rotate(-20deg);
}
